.outer-container {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.outer-container h2 {
    text-transform: uppercase;
}

.outer-container img {
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}

.modal img {
    padding: 3px;
    background-color: white;
    max-width: 80%;
    max-height: 80%;
}