.outer-container {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.outer-container h3 {
    margin: 3rem 0 2rem;
    text-align: center;
    text-transform: uppercase;
}

.outer-container img {
    cursor: pointer;
}

.overview {
    font-size: 1.6rem;
}

.thumbdesc {
    cursor: pointer;
}

@media all and (max-width: 899px) {
    .thumbdesc {
        display: none !important;
    }
}
