.outer-container {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.outer-container h2 {
    text-transform: uppercase;
}

.outer-container img {
    cursor: pointer;
}

.overview {
    font-size: 1.6rem;
}

.thumbdesc {
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: none;
    cursor: pointer;
}

.modal img {
    padding: 3px;
    background-color: white;
    max-width: 80%;
    max-height: 80%;
    border: 5px solid white;
    border-radius: 5px;
    cursor: pointer;
}

.modal .modal-desc {
    max-width: 70%;
    padding: 0 15px 5px;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}
