:root {
    --main-text-color: rgb(30, 30, 30);
    --main-border-color: rgb(240, 240, 240);
    --focused-border-color: rgb(120, 120, 120);
}

html * {
    color: var(--main-text-color);
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Baloo 2", Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    margin: 0 auto;
    width: 800px;
}

header,
footer {
    margin: 0;
    padding: 2rem 1rem;
    text-align: center;
    width: 100%;
    background-color: var(--main-text-color);
    color: white !important;
}

header *,
footer * {
    color: white !important;
}

footer a,
footer a:active,
footer a:hover,
footer a:visited {
    color: white;
    text-decoration: underline;
}

footer p {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

section {
    margin: 2rem 0;
    text-align: center;
    width: 100%;
}

hr {
    border: none;
    border-top: 1px solid var(--main-border-color);
}

h1,
h2,
h3,
h4 {
    font-family: 'Orbitron', Times, serif;
    font-weight: bold;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    margin: 0;
}

h2 {
    font-size: 2rem;
}

section>div {
    margin: 1rem 0;
}

input,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid var(--main-border-color);
    background-color: white;
    border-radius: 5px;
    padding: 6px;
    width: 300px;
    font-size: 1rem;
    font-family: "Baloo 2", Verdana, Geneva, Tahoma, sans-serif;
}

input:focus,
select:focus {
    border-color: var(--focused-border-color) !important;
    vertical-align: middle;

    /* Remove outline styles in chrome on focus */
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
}

select {
    background-image: url(angle-down-solid.svg);
    background-repeat: no-repeat;
    background-position: 95% 50%; 
    background-size: 15px 15px;
}

button {
    border: 2px solid var(--focused-border-color);
    background-color: var(--main-border-color);
    border-radius: 5px;
    padding: 6px;
    width: 200px;
    cursor: pointer;
    font-size: 1rem;
    font-family: "Baloo 2", Verdana, Geneva, Tahoma, sans-serif;
}

button:hover,
button:active {
    border: 2px solid var(--focused-border-color);
    background-color: var(--focused-border-color);
    color: white;
}

label {
    display: inline-block;
    width: 200px;
    padding-right: 10px;
    text-align: right;
    vertical-align: middle;
}

.submit-container {
    text-align: center;
    margin-top: 2rem;
}

.results {
    font-size: 1.8rem;
}

.results .output {
    font-size: 2rem;
}

.extra-results h3 {
    margin-top: 3rem;
}

@media screen and (max-width: 850px) {
    .container {
        width: 100%;
        padding: 20px;
    }

    select,
    label,
    input {
        width: 100%;
        text-align: left;
    }
}