:root {
  --main-background-color: white;
  --main-text-color: rgb(30, 30, 30);
  --main-link-color: rgb(44, 44, 255);
  --hover-link-color: rgb(44, 44, 255);
  --app-link-color: #61dafb;

  --header-background-color: #282c34;
  --header-text-color: white;

  --footer-background-color: #282c34;
  --footer-text-color: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-background-color: #282c34;
    --main-text-color: white;
    --main-link-color: rgb(168, 168, 255);
    --hover-link-color: rgb(104, 101, 254);

    --header-background-color: rgb(30, 30, 30);
    --header-text-color: white;

    --footer-background-color: rgb(30, 30, 30);
    --footer-text-color: white;

    --app-link-color: #61dafb;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-background-color) !important;
  color: var(--main-text-color) !important;
}

body * {
  font-family: "Baloo 2", Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Orbitron', Times, serif;
    font-weight: bold;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    margin: 0;
}

h2 {
    font-size: 2rem;
}

a,
a:visited {
  text-decoration: none;
  color: var(--main-link-color);
}

a:active,
a:hover {
  text-decoration: underline;
  color: var(--hover-link-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
