:root {
  --main-background-color: rgb(30, 30, 30);
  --main-text-color: white;
  --main-link-color: #9ef0ff;
  --hover-link-color: #7cebff;
  --app-link-color: #61dafb;

  --header-background-color: #233457;
  --header-text-color: white;
  --header-bottom-border-color: #19263f;

  --footer-background-color: #282c34;
  --footer-text-color: white;

  --blockquote-left-border: rgb(150, 150, 150);
  --blockquote-background: rgb(90, 90, 90);

  --alert-bg: rgb(229, 231, 235);
  --alert-text: var(--main-text-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-background-color: #282c34;
    --main-text-color: white;
    --main-link-color: rgb(168, 168, 255);
    --hover-link-color: rgb(104, 101, 254);

    --header-background-color: rgb(30, 30, 30);
    --header-text-color: white;

    --footer-background-color: rgb(30, 30, 30);
    --footer-text-color: white;

    --app-link-color: #61dafb;

    --blockquote-left-border: var(60, 60, 60); 
    --blockquote-background: var(--header-background-color);

    --alert-bg: var(--header-background-color);
    --alert-text: var(--main-text-color);
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-background-color) !important;
  color: var(--main-text-color) !important;
}

body * {
  font-family: "Baloo 2", Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Orbitron', Times, serif;
    font-weight: bold;
    letter-spacing: 0.2rem;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    margin: 0;
}

h1 a,
h1 a:visited {
  font-family: 'Orbitron', Times, serif;
  text-decoration: none;
  color: var(--main-text-color)
}

h1 a:active,
h1 a:hover {
  text-decoration: none;
  color: var(--main-text-color);
}

h2 {
    font-size: 1.8rem;
}

a,
a:visited {
  text-decoration: none;
  color: var(--main-link-color);
}

a:active,
a:hover {
  text-decoration: underline;
  color: var(--hover-link-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

blockquote {
  margin-left: 0;
  padding: 1rem;
  font-style: italic;
  color: var(--blockquote-color);
  background-color: var(--blockquote-background);
  border-left: 5px solid var(--blockquote-left-border);
}